{% extends 'navbar.html' %}
{% block content %}
<style>
    /* Estilos CSS */
    .container {
        text-align: center; /* Centrar elementos dentro del contenedor */
    }

    img {
        display: block; /* Hacer que la imagen sea un bloque para poder centrarla fácilmente */
        margin: 0 auto; /* Centrar la imagen horizontalmente */
        max-width: 80%; /* Establecer el ancho máximo de la imagen */
        height: auto; /* Mantener la proporción de la imagen */
        margin-bottom: 20px; /* Agregar espacio en la parte inferior de la imagen */
    }

    .description {
        margin: 0 20px 40px; /* Margen en la parte superior e inferior, centrado horizontalmente */
        text-align: justify; /* Justificar el texto */
        max-width: 80%; /* Ancho máximo para la descripción */
    }
</style>
<form method="POST" action="{% url 'api-description' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Property Type" aria-label="Recipient's username" aria-describedby="button-addon2" name="property_type">

        <input type="text" class="form-control" placeholder="Adress" aria-label="Recipient's username" aria-describedby="button-addon2" name="adress">

        <input type="text" class="form-control" placeholder="City" aria-label="Recipient's username" aria-describedby="button-addon2" name="city">

        <input type="text" class="form-control" placeholder="State" aria-label="Recipient's username" aria-describedby="button-addon2" name="state">

        <input type="text" class="form-control" placeholder="Country" aria-label="Recipient's username" aria-describedby="button-addon2" name="country">

        <input type="text" class="form-control" placeholder="Image URL" aria-label="Recipient's username" aria-describedby="button-addon2" name="image_url">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" type="button" id="button-addon2">Cerca</button>
        </div>

    </div>
</form>

<br/><br/>
<img src="{{ link_img }}">

{{ description }}
{% endblock %}
