{% extends 'navbar.html' %}
{% block content %}
<style>
    .container {
        text-align: center; 
    }

    img {
        display: block; 
        margin: 0 auto; 
        max-width: 80%; 
        height: auto; 
        margin-bottom: 20px; 
    }

    .description {
        margin: 0 20px 40px; 
        text-align: justify; 
        max-width: 80%; 
    }
</style>
<form method="POST" action="{% url 'api-description' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Property Type" aria-label="Recipient's username" aria-describedby="button-addon2" name="property_type">

        <input type="text" class="form-control" placeholder="Adress" aria-label="Recipient's username" aria-describedby="button-addon2" name="adress">

        <input type="text" class="form-control" placeholder="City" aria-label="Recipient's username" aria-describedby="button-addon2" name="city">

        <input type="text" class="form-control" placeholder="State" aria-label="Recipient's username" aria-describedby="button-addon2" name="state">

        <input type="text" class="form-control" placeholder="Country" aria-label="Recipient's username" aria-describedby="button-addon2" name="country">

        <input type="text" class="form-control" placeholder="Image URL" aria-label="Recipient's username" aria-describedby="button-addon2" name="image_url">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" type="button" id="button-addon2">Cerca</button>
        </div>

    </div>
</form>

<br/><br/>
<img src="{{ link_img }}">

{{ description }}
{% endblock %}
